@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;

}

.inter500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

.inter400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter700 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter600 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* .timeline::after {
  content: "";
  top: 100%;
  left: 40%;
  height: 50px;
  border-right: 5px solid #1361F5;
  position: absolute;
} */






@media(max-width:576px) {
  .main-container {
    width: 100%;
    margin: auto;
  }
}

@media(min-width:576px) {
  .main-container {
    width: 540px;
    margin: auto;
  }
}

@media(min-width:768px) {
  .main-container {
    width: 720px;
    margin: auto;
  }
}

@media(min-width:992px) {
  .main-container {
    width: 960px;
    margin: auto;
  }
}

@media(min-width:1200px) {
  .main-container {
    width: 1140px;
    margin: auto;
  }
}

@media(min-width:1400px) {
  .main-container {
    width: 1320px;
    margin: auto;
  }
}